@keyframes move {
    0%{
        top:0;
        bottom: 0;
    }
    25%{
        top:8px;
        bottom: 8px;
    }
    50%{
        top:11px;
        bottom: 11px;
    }
    100%{
        top: 0;
        bottom: 0;
    }
}
.arrow:hover{
    background: linear-gradient(214deg,  rgba(255,255,255,0.2),  rgba(255,255,255,0.5));
}
nav button:hover{
    width: 72px;
    height: 38px;
}