header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 50vh;
    background: url(/public/images/bat-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: beige;
    
}
.overlay{
    position: relative;
    height: 100vh;
    width: 100%;
     background: rgba(0,0,0,0.5);
    text-align: center;
     justify-content: center; 
    align-items: center; 
    font-family: sans-serif;
    color: beige; 
    padding-top:150px ;
}
body{
    font-family: sans-serif;
    background: rgb(207, 130, 81);
}