*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080;
    background: url(/public/images/tyre.jpg);
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
  }
  #card-1{
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 34px 0 10px;
  box-shadow:  0 0 10px rgba(0,0,0,0.9);
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  background: #ffff;
  }
  .wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    color: aliceblue;
    
  }
  .wrap h3:nth-child(1){
    background: black;
    padding: 25px;
    border-radius: 5px;
    margin-right:10px;
  }
  .wrap h3:nth-child(2){
    background: #766262;
    padding: 25px;
    border-radius: 5px;
  
  }
  .content{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 140px;
    align-items: center;
    flex-direction: row;
  }
  .content strong{
    margin-bottom:10px ;
  }
  .header-card{
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke: 1px black;
  /* text for card you can change em.. */
  color: transparent;
  }
  select{
    border: 1px double blue;
    padding: 6px;
    border-radius: 6px;
  }
   .button-hover{
    transition: .5s  ease;
  }
  button::after{
    position: absolute;
    display: block;
  }
  button:hover{
    position:relative ;
    display:flex;
    color: white;
    background:blue;
  }
  button{
    position: relative;
    display: flex;
    color: blue;
    background: gold;
    border: none ;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
  }