/* form{
    position: relative;
    width: 50% auto;
    height: auto;
    background-image:url(/public/images/potential-image.jpg);
   background-color: blueviolet;
   background-blend-mode: screen;
} */